.main-heading {
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}
body {
    background-color: #000000;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #dadada;
}
.day-night-mode{
    position: absolute;
    width: 36px;
    height: 36px;
    top: 16px;
    right: 16px;
    border: 2px solid #59e;
    border-radius: 3px;
    background-color: black;
}

.circle{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #59e;
    margin: 0 auto;
}

.semi-circle{
    width: 12px;
    height: 5px;
    border-top-left-radius: 100px;  /* 100px of height + 10px of border */
    border-top-right-radius: 100px;
    border-bottom: 0;
    background-color: #59e;
    margin: 2px auto 0px 2px;
    padding-top: 1px;
}

.row{
    display: flex;
    padding: 10px;
}

.options-text{
    flex: 1;
    line-height: 40px;
}
.option-length-slider {
    -webkit-appearance: none;
    width: 50%;
    height: 8px;
    background: #000;
    outline: none;
    border: 2px solid #59e;
    border-radius: 8px;
    margin: 15px 20px;
  }
  
  
  /* for chrome/safari */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 30px;
    background: #000;
    cursor: pointer;
    border: 2px solid #59e;
    border-radius: 4px;
  }
  
  /* for firefox */
  .slider::-moz-range-thumb {
    width: 10px;
    height: 30px;
    background: #000;
    cursor: pointer;
    border: 2px solid #59e;
    border-radius: 4px;
  }

.option-length{
    width: 64px;
    height: 36px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 4px;
    border: 2px solid #424242;
    background: #212121;
    color: #dadada;
    outline: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 36px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212121;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 5px;
    bottom: 6px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    
    /* svg pattern */
  background-color: #ffffff;
  }
  
  input:checked + .slider {
    background-color: #59e;
  }

  
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
    
    /* svg pattern */
  background-color: #ffffff;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 68px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .generate-btn{
      flex: 1;
      width: 100%;
      height: 50px;
      background-color: #59e;
      border-radius: 5px;
      border: 0px;
      color: #ffffff;
      cursor: pointer;
  }

  .password-display{
    width: 100%;
    height: 100px;
    background-color: #212121;
    text-align: center;
    display: none;
  }
  #password-text{
    line-height: 100px;
  }
  .copy-btn{
    flex: 1;
    width: 100%;
    height: 50px;
    background-color: #59e;
    border-radius: 5px;
    border: 0px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}